body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--primery-text-color);
}

:root {
  --primery-text-color: #212121;
  --activity-link-color: #2196F3;
  --logo-studio-secondo-color: #000000;
  --btn-activity-color: #FFFFFF;
  --discription-color: #757575;
  --hero-background: #2F303A;
  --background-general: #FFFFFF;
  --background-team: #F5F4FA;
  --color-icons: #AFB1B8;
}
